.example-list {
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    align-items: center
  }

  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: white;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    font-size: 14px;
  }


  .example-box:last-child {
    border: none;
  }


  .flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
