<div  class="example-list" >
  <div class="example-box" [style.background]="colorOfRow" *ngFor="let lunchSpot of lunchSpots">
    <div class="flex-container" >
      <div>
        <h4>
         {{ lunchSpot.company}}
        </h4>
        <p>
          {{ lunchSpot.address}}
        </p>
        <p>
          Lunching spot: {{ lunchSpot.name}}
        </p>
      </div>
      <div>
        <h4>
          Dostawa: {{ lunchSpot.deliveryTime}}
         </h4>
      </div>
    </div>

  </div>
</div>
