.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .header{
    flex-shrink: 0;
    flex-grow: 0;
  }
  .content{
    flex-shrink: 1;
    flex-grow: 1;
    padding: 3px 5px;
    position: relative;
    overflow-y: auto;
  }
  
  .footer{
    flex-shrink: 0;
    flex-grow: 0;
    background: #eee;
    border-style: groove
  }